.projects__card-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-content: center;
  background-color: #FFFFFF;;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity .3s ease;
  background-image: url(../../../images/projects/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
  border-radius: 36px;
  margin: -20px 20px 20px auto;
  padding: 0;
  z-index: 100;
}