.about-us__title {
  min-width: 472px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.889;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #FFFFFF;
}